<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
      <div class="form-group">
          <label for="book_name">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
        </div>
        <div class="form-group">
          <label for="book_inpuImage">Image</label><br>
          <%= f.file_field :profile_image, autofocus: true, id:"inputImage" %><br>
        </div>
        <div class="form-group">
          <label for="book_inpuIntroduction">Introduction</label><br>
          <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %><br>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class:"btn btn-secondary" %>
        </div>
  		<% end %>
  	</div>
  </div>
</div>
